Dashboard/ZMSSetting.txt
[
    {
        "id": "1684e076.c5ece",
        "type": "tab",
        "label": "ZMSSetting",
        "disabled": false,
        "info": ""
    },
    {
        "id": "efb4f345.d88fa",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "11 Start",
        "label": "Start 1",
        "place": "Hod",
        "group": "158b4c81.f939b3",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/1",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "89a3dff2.f0e008",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "12 Start",
        "label": "",
        "place": "Min",
        "group": "158b4c81.f939b3",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/1",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "bed6916d.a8a948",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "13 End",
        "label": "End 1",
        "place": "Hod",
        "group": "158b4c81.f939b3",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/1",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "3d3eccb8.349c9c",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "14 End",
        "label": "",
        "place": "Min",
        "group": "158b4c81.f939b3",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/1",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "86c2521f.6e76e",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "21 Start",
        "label": "Start 2",
        "place": "Hod",
        "group": "158b4c81.f939b3",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/2",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "12a7da49.f9afde",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "22 Start",
        "label": "",
        "place": "Min",
        "group": "158b4c81.f939b3",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/2",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "5d278c08.397174",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "23 End",
        "label": "End 2",
        "place": "Hod",
        "group": "158b4c81.f939b3",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/2",
        "x": 380,
        "y": 420,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "6bba6014.e8968",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "24 End",
        "label": "",
        "place": "Min",
        "group": "158b4c81.f939b3",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/2",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "5c25cef3.e6916",
        "type": "ui_button",
        "z": "1684e076.c5ece",
        "name": "",
        "group": "e085e06e.8a29d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Data",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1270,
        "y": 160,
        "wires": [
            [
                "96cb944b.010808"
            ]
        ]
    },
    {
        "id": "96cb944b.010808",
        "type": "link out",
        "z": "1684e076.c5ece",
        "name": "SaveTimeS",
        "links": [
            "495a81d1.42661"
        ],
        "x": 1395,
        "y": 160,
        "wires": []
    },
    {
        "id": "3b70e2d8.658d96",
        "type": "ui_button",
        "z": "1684e076.c5ece",
        "name": "",
        "group": "e085e06e.8a29d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Load Data",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1270,
        "y": 200,
        "wires": [
            [
                "4ce14dae.8e68ec"
            ]
        ]
    },
    {
        "id": "4ce14dae.8e68ec",
        "type": "link out",
        "z": "1684e076.c5ece",
        "name": "Load Data",
        "links": [
            "43c195c6.4ddbf4"
        ],
        "x": 1395,
        "y": 200,
        "wires": []
    },
    {
        "id": "3c0a9493.9d301c",
        "type": "comment",
        "z": "1684e076.c5ece",
        "name": "Setting",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "59a0be70.34e03",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "31 Start",
        "label": "Start 3",
        "place": "Hod",
        "group": "158b4c81.f939b3",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/3",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "36008c0a.2e48ec",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "32 Start",
        "label": "",
        "place": "Min",
        "group": "158b4c81.f939b3",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/3",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "1370b473.83f884",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "33 End",
        "label": "End 3",
        "place": "Hod",
        "group": "158b4c81.f939b3",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/3",
        "x": 380,
        "y": 620,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "7062db91.c73be4",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "34 End",
        "label": "",
        "place": "Min",
        "group": "158b4c81.f939b3",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/3",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "e2044ca2.8bcfa"
            ]
        ]
    },
    {
        "id": "5c78a9e8.1ff6d8",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 200,
        "wires": [
            [
                "54947c9d.318564"
            ]
        ]
    },
    {
        "id": "fddd2bce.f99f08",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 400,
        "wires": [
            [
                "21ddace0.72f584"
            ]
        ]
    },
    {
        "id": "15ddd957.2c493f",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 600,
        "wires": [
            [
                "bc6a7e5a.ea36e8"
            ]
        ]
    },
    {
        "id": "64f37639.ef10c",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "41 Start",
        "label": "Start 4",
        "place": "Hod",
        "group": "174dd11f.d987b7",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/4",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "7befa370.a6e0f4",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "42 Start",
        "label": "",
        "place": "Min",
        "group": "174dd11f.d987b7",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/4",
        "x": 380,
        "y": 780,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "115bce68.317372",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "43 End",
        "label": "End 4",
        "place": "Hod",
        "group": "174dd11f.d987b7",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/4",
        "x": 380,
        "y": 820,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "bf189289.1d59",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "44 End",
        "label": "",
        "place": "Min",
        "group": "174dd11f.d987b7",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/4",
        "x": 380,
        "y": 860,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "a56aec61.46125",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "51 Start",
        "label": "Start 5",
        "place": "Hod",
        "group": "174dd11f.d987b7",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/5",
        "x": 380,
        "y": 940,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "d237ab57.8a6c18",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "52 Start",
        "label": "",
        "place": "Min",
        "group": "174dd11f.d987b7",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/5",
        "x": 380,
        "y": 980,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "5b1e93ea.f9617c",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "53 End",
        "label": "End 5",
        "place": "Hod",
        "group": "174dd11f.d987b7",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/5",
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "32073be3.3bbda4",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "54 End",
        "label": "",
        "place": "Min",
        "group": "174dd11f.d987b7",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/5",
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "dab316bc.9faef8",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "61 Start",
        "label": "Start 6",
        "place": "Hod",
        "group": "174dd11f.d987b7",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/6",
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "18ecc620.fd3582",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "62 Start",
        "label": "",
        "place": "Min",
        "group": "174dd11f.d987b7",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/6",
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "98b6c01a.8b0d4",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "63 End",
        "label": "End 6",
        "place": "Hod",
        "group": "174dd11f.d987b7",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/6",
        "x": 380,
        "y": 1220,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "6f83d50a.d0f1fc",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "64 End",
        "label": "",
        "place": "Min",
        "group": "174dd11f.d987b7",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/6",
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "7d83a2bc.86c224"
            ]
        ]
    },
    {
        "id": "972c700c.4bfb7",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 800,
        "wires": [
            [
                "59316abc.c407dc"
            ]
        ]
    },
    {
        "id": "f83b2b36.e28ad8",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 1000,
        "wires": [
            [
                "509817e4.acba48"
            ]
        ]
    },
    {
        "id": "ac433cbe.7360f",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 1200,
        "wires": [
            [
                "4fe5bd4.288f244"
            ]
        ]
    },
    {
        "id": "2cafd111.4c9c26",
        "type": "ui_button",
        "z": "1684e076.c5ece",
        "name": "Load Default",
        "group": "e085e06e.8a29d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load Default",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "b1f1e66c.26bd4"
            ]
        ]
    },
    {
        "id": "6829daf9.84e91c",
        "type": "ui_button",
        "z": "1684e076.c5ece",
        "name": "Save Default",
        "group": "e085e06e.8a29d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save Default",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "b7076ab9.0011c8"
            ]
        ]
    },
    {
        "id": "b7076ab9.0011c8",
        "type": "link out",
        "z": "1684e076.c5ece",
        "name": "Save Default",
        "links": [
            "97def0b.845609"
        ],
        "x": 1395,
        "y": 240,
        "wires": []
    },
    {
        "id": "b1f1e66c.26bd4",
        "type": "link out",
        "z": "1684e076.c5ece",
        "name": "Load Default",
        "links": [
            "dc8ba5db.907228"
        ],
        "x": 1395,
        "y": 280,
        "wires": []
    },
    {
        "id": "ba1830bc.42144",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "71 Start",
        "label": "Start 7",
        "place": "Hod",
        "group": "47a64624.961f08",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/7",
        "x": 380,
        "y": 1340,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "40dd25e4.c27ac4",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "72 Start",
        "label": "",
        "place": "Min",
        "group": "47a64624.961f08",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/7",
        "x": 380,
        "y": 1380,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "275b0719.b4d6",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "73 End",
        "label": "End 7",
        "place": "Hod",
        "group": "47a64624.961f08",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/7",
        "x": 380,
        "y": 1420,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "22604199.6dab66",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "74 End",
        "label": "",
        "place": "Min",
        "group": "47a64624.961f08",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/7",
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "d5cef154.e177f8",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 1400,
        "wires": [
            [
                "b196421c.1af428"
            ]
        ]
    },
    {
        "id": "338daa74.e2042e",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "81 Start",
        "label": "Start 8",
        "place": "Hod",
        "group": "47a64624.961f08",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/8",
        "x": 380,
        "y": 1540,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "a6f40e0.6784c7",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "82 Start",
        "label": "",
        "place": "Min",
        "group": "47a64624.961f08",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/8",
        "x": 380,
        "y": 1580,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "99552547.3c7e6",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "83 End",
        "label": "End 8",
        "place": "Hod",
        "group": "47a64624.961f08",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/8",
        "x": 380,
        "y": 1620,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "21b95f51.2cdfc8",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "84 End",
        "label": "",
        "place": "Min",
        "group": "47a64624.961f08",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/8",
        "x": 380,
        "y": 1660,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "81a0278a.20de5",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 1600,
        "wires": [
            [
                "152d93f3.943c34"
            ]
        ]
    },
    {
        "id": "a4c5f614.394ff8",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "91 Start",
        "label": "Start 9",
        "place": "Hod",
        "group": "47a64624.961f08",
        "order": 9,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.hour/9",
        "x": 380,
        "y": 1740,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "6496bff1.ef07b8",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "92 Start",
        "label": "",
        "place": "Min",
        "group": "47a64624.961f08",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "start.min/9",
        "x": 380,
        "y": 1780,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "f6efa4fe.cbb4c",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "93 End",
        "label": "End 9",
        "place": "Hod",
        "group": "47a64624.961f08",
        "order": 11,
        "width": "2",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 1,
                "type": "num"
            },
            {
                "label": "",
                "value": 2,
                "type": "num"
            },
            {
                "label": "",
                "value": 3,
                "type": "num"
            },
            {
                "label": "",
                "value": 4,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 6,
                "type": "num"
            },
            {
                "label": "",
                "value": 7,
                "type": "num"
            },
            {
                "label": "",
                "value": 8,
                "type": "num"
            },
            {
                "label": "",
                "value": 9,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 11,
                "type": "num"
            },
            {
                "label": "",
                "value": 12,
                "type": "num"
            },
            {
                "label": "",
                "value": 13,
                "type": "num"
            },
            {
                "label": "",
                "value": 14,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 16,
                "type": "num"
            },
            {
                "label": "",
                "value": 17,
                "type": "num"
            },
            {
                "label": "",
                "value": 18,
                "type": "num"
            },
            {
                "label": "",
                "value": 19,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 21,
                "type": "num"
            },
            {
                "label": "",
                "value": 22,
                "type": "num"
            },
            {
                "label": "",
                "value": 23,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.hour/9",
        "x": 380,
        "y": 1820,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "8b731a86.a002c",
        "type": "ui_dropdown",
        "z": "1684e076.c5ece",
        "name": "94 End",
        "label": "",
        "place": "Min",
        "group": "47a64624.961f08",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "",
                "value": 0,
                "type": "num"
            },
            {
                "label": "",
                "value": 5,
                "type": "num"
            },
            {
                "label": "",
                "value": 10,
                "type": "num"
            },
            {
                "label": "",
                "value": 15,
                "type": "num"
            },
            {
                "label": "",
                "value": 20,
                "type": "num"
            },
            {
                "label": "",
                "value": 25,
                "type": "num"
            },
            {
                "label": "",
                "value": 30,
                "type": "num"
            },
            {
                "label": "",
                "value": 35,
                "type": "num"
            },
            {
                "label": "",
                "value": 40,
                "type": "num"
            },
            {
                "label": "",
                "value": 45,
                "type": "num"
            },
            {
                "label": "",
                "value": 50,
                "type": "num"
            },
            {
                "label": "",
                "value": 55,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "end.min/9",
        "x": 380,
        "y": 1860,
        "wires": [
            [
                "d00e143e.962af8"
            ]
        ]
    },
    {
        "id": "b82e4232.c6a728",
        "type": "link in",
        "z": "1684e076.c5ece",
        "name": "",
        "links": [
            "1aa5d18d.018a06"
        ],
        "x": 95,
        "y": 1800,
        "wires": [
            [
                "6f910c22.de0e04"
            ]
        ]
    },
    {
        "id": "ffa62661.d42d78",
        "type": "comment",
        "z": "1684e076.c5ece",
        "name": "Backup",
        "info": "ukladanie a nahravanie udajov do zalohy",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "523bd0ca.ffb96",
        "type": "ui_text_input",
        "z": "1684e076.c5ece",
        "name": "",
        "label": "Pocet kusov",
        "group": "158b4c81.f939b3",
        "order": 14,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 830,
        "y": 340,
        "wires": [
            [
                "4f8bdcb6.47f84c"
            ]
        ]
    },
    {
        "id": "f2bd9871.e35ef",
        "type": "ui_text_input",
        "z": "1684e076.c5ece",
        "name": "",
        "label": "Pocet kusov",
        "group": "174dd11f.d987b7",
        "order": 14,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 850,
        "y": 940,
        "wires": [
            [
                "b5f88f04.0ad43"
            ]
        ]
    },
    {
        "id": "b9e341a4.e4f448",
        "type": "ui_text_input",
        "z": "1684e076.c5ece",
        "name": "",
        "label": "Pocet kusov",
        "group": "47a64624.961f08",
        "order": 14,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "100",
        "topic": "",
        "x": 850,
        "y": 1540,
        "wires": [
            [
                "ee746615.37a308"
            ]
        ]
    },
    {
        "id": "e2044ca2.8bcfa",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "Calculate WorkTime",
        "func": "var smena = 1; // cislo smeny po\nvar startt = 1; //Start pre zapis casov\nvar pocet = 3;  //Pocet zapisov\nvar smen = \"Smena\"+smena;\nvar h2400 = parseInt(24*60*60*1000);\nvar msg2={};\n\nvar str = msg.topic ;\nvar th = str.split('/');\n    \nswitch (th[0]){\n    case \"start.hour\":\n       global.set(\"shour\"+th[1], msg.payload);\n       break;\n    case \"start.min\":\n        global.set(\"smin\"+th[1], msg.payload);\n        break;\n    case \"end.hour\":\n        global.set(\"ehour\"+th[1], msg.payload);\n        break;\n    case \"end.min\":\n        global.set(\"emin\"+th[1], msg.payload);\n        break;\n}     \n\nfor (i=startt ; i<(pocet+startt);i++){ \n    var data1= global.get(\"shour\"+i)*1000*60*60 ;\n    var data2= global.get(\"smin\" +i)*1000*60 ;\n    var data3= global.get(\"ehour\"+i)*1000*60*60;\n    var data4= global.get(\"emin\" +i)*1000*60 ;\n    var tt1= (parseInt(data1))+(parseInt(data2));\n    var tt2= (parseInt(data3))+(parseInt(data4));\n    global.set(\"Start\"+i,new Date(tt1));\n    global.set(\"End\"  +i,new Date(tt2));\n    \n    if ( Number(tt1) < Number(tt2) ){\n        // Start < End\n        var tim = Number(tt2) - Number(tt1);\n        msg.topic = msg.topic + \"1<2 = \" + tim + \" \";\n    } \n    else if( Number(tt1)> Number(tt2)){\n        // Start < End  nastava pri prechode polnocou\n        var tim = (Number(h2400) - Number(tt1)) + Number(tt2);\n        msg.topic = msg.topic + \"1>2 = \" + tim + \" \";\n        \n    } else {\n        // Start = End  tento cas je vypnuty \n        var tim = 0;\n        //msg.topic = msg.topic + \"1=2 = \"+ tim + \" \";\n    }\n\n\n    global.set(\"Time\" +i,tim); \n    var temp = Number(global.get(\"Time\"+startt))+Number(global.get(\"Time\"+(startt+1)))+Number(global.get(\"Time\"+(startt+2)));\n    global.set(smen,temp);\n     \n    var tim = 0;\n    var min = new Date(temp).getUTCMinutes();\n    var hod = new Date(temp).getUTCHours();\n    msg.payload =hod+\":\"+min;\n} \n    msg.topic =\"\";\n    msg2.payload = global.get(\"Kusy\"+smena);\nreturn [msg2,msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "523bd0ca.ffb96"
            ],
            [
                "b8d04f7d.bd903"
            ]
        ],
        "outputLabels": [
            "Plan PCS",
            "Work Time"
        ]
    },
    {
        "id": "a0be1fb2.ff2c2",
        "type": "inject",
        "z": "1684e076.c5ece",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1020,
        "y": 200,
        "wires": [
            [
                "3b70e2d8.658d96"
            ]
        ]
    },
    {
        "id": "b8d04f7d.bd903",
        "type": "ui_text",
        "z": "1684e076.c5ece",
        "group": "158b4c81.f939b3",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pracovn as",
        "format": "{{msg.payload}} Hod.",
        "layout": "row-spread",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "de9266c8.27b29",
        "type": "ui_text",
        "z": "1684e076.c5ece",
        "group": "174dd11f.d987b7",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pracovn as",
        "format": "{{msg.payload}} Hod.",
        "layout": "row-spread",
        "x": 860,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c7f98469.cac44",
        "type": "ui_text",
        "z": "1684e076.c5ece",
        "group": "47a64624.961f08",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pracovn as",
        "format": "{{msg.payload}} Hod.",
        "layout": "row-spread",
        "x": 860,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4f8bdcb6.47f84c",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "Calculate Takt",
        "func": "var data = 1;\nglobal.set(\"Kusy\"+data,msg.payload);\nvar temp = (global.get(\"Smena\"+data))/msg.payload;\ntemp = temp.toFixed(3);\nglobal.set(\"Takt\"+data,temp);\ntemp = (temp /1000).toFixed(2);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "8a88ef5a.affd18"
            ]
        ]
    },
    {
        "id": "8a88ef5a.affd18",
        "type": "ui_text",
        "z": "1684e076.c5ece",
        "group": "158b4c81.f939b3",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Takt Time",
        "format": "{{msg.payload}} Sek.",
        "layout": "row-spread",
        "x": 1200,
        "y": 340,
        "wires": []
    },
    {
        "id": "b5f88f04.0ad43",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "Calculate Takt",
        "func": "var data = 2;\nglobal.set(\"Kusy\"+data,msg.payload);\nvar temp = (global.get(\"Smena\"+data))/msg.payload;\ntemp = temp.toFixed(3);\nglobal.set(\"Takt\"+data,temp);\ntemp = (temp /1000).toFixed(2);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 940,
        "wires": [
            [
                "5a123498.c04154"
            ]
        ]
    },
    {
        "id": "5a123498.c04154",
        "type": "ui_text",
        "z": "1684e076.c5ece",
        "group": "174dd11f.d987b7",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Takt Time",
        "format": "{{msg.payload}} Sek.",
        "layout": "row-spread",
        "x": 1220,
        "y": 940,
        "wires": []
    },
    {
        "id": "5cfbc317.29c3b4",
        "type": "ui_text",
        "z": "1684e076.c5ece",
        "group": "47a64624.961f08",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Takt Time",
        "format": "{{msg.payload}} Sek.",
        "layout": "row-spread",
        "x": 1220,
        "y": 1540,
        "wires": []
    },
    {
        "id": "54947c9d.318564",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 1;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "efb4f345.d88fa"
            ],
            [
                "89a3dff2.f0e008"
            ],
            [
                "bed6916d.a8a948"
            ],
            [
                "3d3eccb8.349c9c"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "21ddace0.72f584",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 2;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 400,
        "wires": [
            [
                "86c2521f.6e76e"
            ],
            [
                "12a7da49.f9afde"
            ],
            [
                "5d278c08.397174"
            ],
            [
                "6bba6014.e8968"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "bc6a7e5a.ea36e8",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 3;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 600,
        "wires": [
            [
                "59a0be70.34e03"
            ],
            [
                "36008c0a.2e48ec"
            ],
            [
                "1370b473.83f884"
            ],
            [
                "7062db91.c73be4"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "59316abc.c407dc",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 4;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 800,
        "wires": [
            [
                "64f37639.ef10c"
            ],
            [
                "7befa370.a6e0f4"
            ],
            [
                "115bce68.317372"
            ],
            [
                "bf189289.1d59"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "509817e4.acba48",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 5;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "a56aec61.46125"
            ],
            [
                "d237ab57.8a6c18"
            ],
            [
                "5b1e93ea.f9617c"
            ],
            [
                "32073be3.3bbda4"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "4fe5bd4.288f244",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 6;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 1200,
        "wires": [
            [
                "dab316bc.9faef8"
            ],
            [
                "18ecc620.fd3582"
            ],
            [
                "98b6c01a.8b0d4"
            ],
            [
                "6f83d50a.d0f1fc"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "b196421c.1af428",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 7;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 1400,
        "wires": [
            [
                "ba1830bc.42144"
            ],
            [
                "40dd25e4.c27ac4"
            ],
            [
                "275b0719.b4d6"
            ],
            [
                "22604199.6dab66"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "152d93f3.943c34",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 8;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 1600,
        "wires": [
            [
                "338daa74.e2042e"
            ],
            [
                "a6f40e0.6784c7"
            ],
            [
                "99552547.3c7e6"
            ],
            [
                "21b95f51.2cdfc8"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "6f910c22.de0e04",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "",
        "func": "var data = 9;\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg1.payload = global.get(\"shour\"+data);\nmsg2.payload = global.get(\"smin\"+data);\nmsg3.payload =global.get(\"ehour\"+data);\nmsg4.payload = global.get(\"emin\"+data);\nreturn [msg1,msg2,msg3,msg4];",
        "outputs": "4",
        "noerr": 0,
        "x": 210,
        "y": 1800,
        "wires": [
            [
                "a4c5f614.394ff8"
            ],
            [
                "6496bff1.ef07b8"
            ],
            [
                "f6efa4fe.cbb4c"
            ],
            [
                "8b731a86.a002c"
            ]
        ],
        "outputLabels": [
            "Start Hour",
            "Start Min",
            "End Hour",
            "End Min"
        ]
    },
    {
        "id": "d00e143e.962af8",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "Calculate WorkTime",
        "func": "var smena = 3; // cislo smeny po\nvar startt = 7; //Start pre zapis casov\nvar pocet = 3;  //Pocet zapisov\nvar smen = \"Smena\"+smena;\nvar h2400 = parseInt(24*60*60*1000);\nvar msg2={};\n\nvar str = msg.topic ;\nvar th = str.split('/');\n    \nswitch (th[0]){\n    case \"start.hour\":\n       global.set(\"shour\"+th[1], msg.payload);\n       break;\n    case \"start.min\":\n        global.set(\"smin\"+th[1], msg.payload);\n        break;\n    case \"end.hour\":\n        global.set(\"ehour\"+th[1], msg.payload);\n        break;\n    case \"end.min\":\n        global.set(\"emin\"+th[1], msg.payload);\n        break;\n}     \n\nfor (i=startt ; i<(pocet+startt);i++){ \n    var data1= global.get(\"shour\"+i)*1000*60*60 ;\n    var data2= global.get(\"smin\" +i)*1000*60 ;\n    var data3= global.get(\"ehour\"+i)*1000*60*60;\n    var data4= global.get(\"emin\" +i)*1000*60 ;\n    var tt1= (parseInt(data1))+(parseInt(data2));\n    var tt2= (parseInt(data3))+(parseInt(data4));\n    global.set(\"Start\"+i,tt1);\n    global.set(\"End\"  +i,tt2);\n    \n    if ( Number(tt1) < Number(tt2) ){\n        // Start < End\n        var tim = Number(tt2) - Number(tt1);\n        msg.topic = msg.topic + \"1<2 = \" + tim + \" \";\n    } \n    else if( Number(tt1)> Number(tt2)){\n        // Start < End  nastava pri prechode polnocou\n        var tim = (Number(h2400) - Number(tt1)) + Number(tt2);\n        msg.topic = msg.topic + \"1>2 = \" + tim + \" \";\n        \n    } else {\n        // Start = End  tento cas je vypnuty \n        var tim = 0;\n        msg.topic = msg.topic + \"1=2 = \" + tim + \" \";\n    }\n    \n    \n\n    global.set(\"Time\" +i,tim); \n    var temp = Number(global.get(\"Time\"+startt))+Number(global.get(\"Time\"+(startt+1)))+Number(global.get(\"Time\"+(startt+2)));\n    global.set(smen,temp);\n     \n    var tim = 0;\n    var min = new Date(temp).getUTCMinutes();\n    var hod = new Date(temp).getUTCHours();\n    msg.payload =hod+\":\"+min;\n} \n    msg.topic =\"\";\n    msg2.payload = global.get(\"Kusy\"+smena);\nreturn [msg2,msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 640,
        "y": 1540,
        "wires": [
            [
                "b9e341a4.e4f448"
            ],
            [
                "c7f98469.cac44"
            ]
        ],
        "outputLabels": [
            "Plan PCS",
            "Work Time"
        ]
    },
    {
        "id": "ee746615.37a308",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "Calculate Takt",
        "func": "var data = 3;\nglobal.set(\"Kusy\"+data,msg.payload);\nvar temp = (global.get(\"Smena\"+data))/msg.payload;\ntemp = temp.toFixed(3);\nglobal.set(\"Takt\"+data,temp);\ntemp = (temp /1000).toFixed(2);\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 1540,
        "wires": [
            [
                "5cfbc317.29c3b4"
            ]
        ]
    },
    {
        "id": "7d83a2bc.86c224",
        "type": "function",
        "z": "1684e076.c5ece",
        "name": "Calculate WorkTime",
        "func": "var smena = 2; // cislo smeny po\nvar startt = 4; //Start pre zapis casov\nvar pocet = 3;  //Pocet zapisov\nvar smen = \"Smena\"+smena;\nvar h2400 = parseInt(24*60*60*1000);\nvar msg2={};\n\nvar str = msg.topic ;\nvar th = str.split('/');\n    \nswitch (th[0]){\n    case \"start.hour\":\n       global.set(\"shour\"+th[1], msg.payload);\n       break;\n    case \"start.min\":\n        global.set(\"smin\"+th[1], msg.payload);\n        break;\n    case \"end.hour\":\n        global.set(\"ehour\"+th[1], msg.payload);\n        break;\n    case \"end.min\":\n        global.set(\"emin\"+th[1], msg.payload);\n        break;\n}     \n\nfor (i=startt ; i<(pocet+startt);i++){ \n    var data1= global.get(\"shour\"+i)*1000*60*60 ;\n    var data2= global.get(\"smin\" +i)*1000*60 ;\n    var data3= global.get(\"ehour\"+i)*1000*60*60;\n    var data4= global.get(\"emin\" +i)*1000*60 ;\n    var tt1= (parseInt(data1))+(parseInt(data2));\n    var tt2= (parseInt(data3))+(parseInt(data4));\n    global.set(\"Start\"+i,tt1);\n    global.set(\"End\"  +i,tt2);\n    \n    if ( Number(tt1) < Number(tt2) ){\n        // Start < End\n        var tim = Number(tt2) - Number(tt1);\n        msg.topic = msg.topic + \"1<2 = \" + tim + \" \";\n    } \n    else if( Number(tt1)> Number(tt2)){\n        // Start < End  nastava pri prechode polnocou\n        var tim = (Number(h2400) - Number(tt1)) + Number(tt2);\n        msg.topic = msg.topic + \"1>2 = \" + tim + \" \";\n        \n    } else {\n        // Start = End  tento cas je vypnuty \n        var tim = 0;\n        msg.topic = msg.topic + \"1=2 = \" + tim + \" \";\n    }\n\n    global.set(\"Time\" +i,tim); \n    var temp = Number(global.get(\"Time\"+startt))+Number(global.get(\"Time\"+(startt+1)))+Number(global.get(\"Time\"+(startt+2)));\n    global.set(smen,temp);\n     \n    var tim = 0;\n    var min = new Date(temp).getUTCMinutes();\n    var hod = new Date(temp).getUTCHours();\n    msg.payload =hod+\":\"+min;\n} \n    msg.topic =\"\";\n    msg2.payload = global.get(\"Kusy\"+smena);\nreturn [msg2,msg];",
        "outputs": "2",
        "noerr": 0,
        "x": 640,
        "y": 940,
        "wires": [
            [
                "f2bd9871.e35ef"
            ],
            [
                "de9266c8.27b29"
            ]
        ],
        "outputLabels": [
            "Plan PCS",
            "Work Time"
        ]
    },
    {
        "id": "158b4c81.f939b3",
        "type": "ui_group",
        "z": "",
        "name": "Smena1",
        "tab": "58895b0b.f233c4",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e085e06e.8a29d8",
        "type": "ui_group",
        "z": "",
        "name": "Save & Load Data",
        "tab": "58895b0b.f233c4",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "174dd11f.d987b7",
        "type": "ui_group",
        "z": "",
        "name": "Smena2",
        "tab": "58895b0b.f233c4",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "47a64624.961f08",
        "type": "ui_group",
        "z": "",
        "name": "Smena3",
        "tab": "58895b0b.f233c4",
        "order": 3,
        "disp": true,
        "width": "6"
    },
    {
        "id": "58895b0b.f233c4",
        "type": "ui_tab",
        "z": "",
        "name": "ZMS1 Nastavenie",
        "icon": "settings",
        "order": 4
    }
]